body {
    background-color: #e4e4e4;
}

.app-content {
    height: 100vh;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}
.sidebar {
    width: 250px;
    height: 100vh;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    border-right: 2px solid #000000;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}


.app-header {
    height: 120px;
    background-color: #e9e3e3de;
    border-bottom: 2px solid #000000;
    
}

.header {
    display: flex;
}

.name-div {
    margin: 23px 15px 0;
    width: 188px;
}

.name {
    color: #000000;
    font-family: Optima, sans-serif;
    font-size: 65px;
    text-decoration: none;
}

.friends-div {
    justify-self: start;
    margin-left: 20px;
}

.picture {
    height: 115px;
    
}

.log-in-div {
    margin-right: 50px;
}


.comments {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-decoration: none;
}

.objects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
