body {
    background-color: #e4e4e4;
}

.app-content {
    height: 100vh;
}

.main {
    background-color: thistle;
    height: 100%;
}

.app-header {
    height: 15vh;
    background-color: aqua;
    border: 2px solid #000000;
    border-radius: 5px;
}